<div>
  <h2 class="preview-title mat-h2">Preview</h2>
  <app-album-card [album]="album"></app-album-card>
</div>

<mat-card class="form-card">
  <form (ngSubmit)="onSubmit($event)" #albumForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label for="artist">Artist</mat-label>
      <input matInput [(ngModel)]="album.artist" name="artist" type="text" id="artist" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="title">Title</mat-label>
      <input matInput [(ngModel)]="album.title" name="title" type="text" id="title" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="cover">Cover Art URL</mat-label>
      <input matInput [(ngModel)]="album.cover" name="cover" type="text" id="cover" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="genre">Genre</mat-label>
      <input matInput [(ngModel)]="album.genre" name="genre" type="text" id="genre" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="year">Year</mat-label>
      <input matInput [(ngModel)]="album.year" name="year" type="number" id="year" required />
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">Update Album</button>
  </form>
</mat-card>